OANDA_TOKEN=your_oanda_api_token_here
OANDA_ACCOUNT_ID=your_oanda_account_id
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_chat_id
# Get OANDA token from https://www.oanda.com/ (practice account OK)
# Telegram: talk to @BotFather